div {
    width: 700px;
    height: 200px;
    border: blueviolet;
    background-color: yellow;
    border: 30px solid blue;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin: 40px;
    text-align: center;
}

body {
    margin-top: 100px;
    border: solid black;
}

h1 {
    color: black;
}

p {
    text-align: center;
    color: black;
    font-size: 30px;
}