.box1 {
border: 2px solid black; 
padding: 10px;
margin: 10px;
 }
.box2 {
border: 3px dashed red; 
padding: 10px;
margin: 10px;
 }
.box3 {
border: 4px dotted blue; 
padding: 10px;
margin: 10px;
 }
.box4 {
border: 5px double green; 
padding: 10px;
margin: 10px;
 }
