/* p {
    color: rgb(255, 136, 0);
    background-color: chartreuse;
} */
/* for class selector for paragraph
we overright */
/* .p {
   color: cadetblue;
    background-color: rgb(251, 193, 46);
       text-align: center;  
} */
/* for id selector for paragraph
it is a unique */
/* #dk {
   font-size: 25px;

} */
/* div {
   height:200px;
   width: 200px;
background-color: red;
padding: 20px;
border: 5px solid black;
margin:10px;
/* display: inline; */



/* }
.box {

background-color: yellow;

border: 3px solid green;

}

#a{ font-size: 25px;
   text-align: center;


}
#d{
   font-size: 30px;
   background-color: aqua;

} */ 

/* .box1{
   height:100px;
   width: 800px;
padding 40px;
margin:100px;

   border:5px solid black;

}
h1{
color: blue;
text-align: center;

}
p{
   color: red;
} */

/* day 2 */

     /* .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
        }
        .block-heading {
            font-size: 1.6em;
            font-weight: bold;
        }
        .main-title {
            background: #d4ecfa;
            font-size: 2em;
            font-weight: bold;
            padding: 12px 0;
            display: block;
        }
        .description {
            background: #ddf8d7;
            color: #276730;
            padding: 10px;
            margin-top: 10px;
            display: block;
        }
        .highlight {
            color: #1877b2;
            font-weight: bold;
        } */
 .container {
            border: 2px solid #888;
            padding: 24px;
            max-width: 800px;
            margin: 40px auto;
            background-color: #fff;
        }
        .title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .card {
            display: inline-block;
            width: 180px;
            height: 260px;
            vertical-align: top;
            margin: 20px 20px 0 0;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.07);
            text-align: center;
            font-size: 1.2em;
            padding-top: 60px;
        }
        .card.book {
            background: #fce34b;
            color: #444;
        }
        .card.headphones {
            background: #fa5ca8;
            color: #fff;
        }
        .card.watch {
            background: #bcf3f8;
            color: #444;
        }
        .price {
            display: block;
            font-size: 1.1em;
            margin-top: 22px;
        }
 

        l
